*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish";
    font-weight: 400;
    color: var(--body);
}
.main-sidebar .brand-text{
    font-family: "Playfair Display";
    background: linear-gradient(to top,rgba(255, 122, 0, 1),rgba(251, 255, 69, 1));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 26px;
    font-weight: 900;
    line-height: 35px;
}
.navbar-light .navbar-nav .nav-link{
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 12px 6px 12px 32px;
}
.breadcrumb-item+.breadcrumb-item{
    margin-left: 8px;
    padding-left: 28px;
    position: relative;

}
.breadcrumb{
    background-color: #FFF2EE;
    margin: 0;
    padding: 0;
    align-items: center;
}
.breadcrumb-item+.breadcrumb-item::before{
    content:url('../images/cms/chevron_right.png');
    padding-right: 0px;
    margin-right: 0px;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%)
}
.breadcrumb-parent a{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color:#0A0D14;
}
.breadcrumb-current a{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color:#6F0000;
}
nav.mt-2{
    padding:24px 5px;
}
.user{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    color:#fff;
}
.sidebar{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand-link{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #350000;
}
.mt-2{
    margin: 0 !important;
}
[class*=sidebar-dark-]{
    background-color: #4B0000;
    width: 272px;
}
[class*=sidebar-dark] .brand-link {
    border-color: #963333;
    width: 100%;
}
.sidebar .sidebar-footer{
    border:none;
    border-top: solid 1px #963333;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px 24px;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #4B0000;
    box-shadow: none;
    width: 100%;
    display: flex;
    padding: 8px 0;
    margin-bottom: 4px;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active img{
    width: 24px;
    height: 24px;
    margin: 0 8px;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active{
    background-color:#4B0000;
}
.nav-sidebar .nav-link p{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: block;
    width: 182px;
    margin-right: 8px;
}
#btn{
    background-image: url('../images/cms/down.png');
    width: 24px ;
    height: 24px;
}
#btn.active{
    background-image: url('../images/cms/up.png');
}
[class*=sidebar-dark-] .nav-treeview .nav-item .nav-link{
    width: 100%;
}
[class*=sidebar-dark-] .nav-treeview .nav-item .nav-link p{
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover{
    background-color:rgba(255,255,255,.1);
}
[class*=sidebar-dark-] .nav-treeview>.nav-item.active>.nav-link.active p{
    color:#FFD53F;
}
.nav-sidebar .nav-item>.nav-link{
    margin-bottom: 0;
    padding: 5px 8px 5px 54px;
}
.active .nav-link p{
    color:#FFD53F;
}
.navbar-white,.content-wrapper{
    background-color: #FFF2EE;
}
.main-header{
    border: none;
}
.content-wrapper>.content{
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    border:solid 1px #F8D4C9;
    margin: 0 32px;
}
.block-header{
    justify-content: space-between;
    margin-bottom: 16px;
}
#btn-create{
    background-color: #38C793;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 16px;
    border-radius: 4px;
}
.search-block{
    width: 400px;
    padding: 7px 12px;
    border: solid 1px #E2E4E9;
    border-radius: 4px;
    position: relative;
}
#btn-search{
    position: absolute;
    right: 12px;
}
#search{
    border: none;   
    width: 100%;
}
input:focus{
    outline: none;
}
#search::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #868C98;
}
.table thead th{
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #6F0000;
    background-color: #FFF2EE;
}
.table{
    border: solid 1px #E2E4E9;
    border-radius: 8px;
}
.table #list tr>td{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#0A0D14;
}
.table #list tr>td:nth-child(2){
    font-weight: 600;
}
.table #list tr>.thu-tu>span{
    border: solid 1px #E2E4E9;
    padding: 4px 9px;
    border-radius: 4px;
}
.badge{
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    padding: 6px 10px;
    border-radius: 4px;
}
.badge-warning{
    background: #FFEFEE;
    color:#E35851;
}
.badge-success{
    background: #E2FAF1;
    color:#38C793;
}
/* form */
.modal-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color:#6F0000;
}
.modal-content{
    border: none;
}
label:not(.form-check-label):not(.custom-file-label){
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
#records{
    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;
    border: solid 1px #E2E4E9;
    border-radius: 8px;
}
.navigation-block{
    margin-left: 16px;
}
.page-link{
    border: none;
    padding: 8px 14px;
    color:#0A0D14;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    height: 36px;
    margin-left: 8px;
}
.page-link.icon{
    padding: 8px;
}
.page-link.current{
    color: #fff;
    background-color:#6F0000;
    border-radius: 8px;
}
.modal-header{
    border-radius: 8px 8px 0 0;
    padding: 20px 20px 8px 20px;
    border: 0;
}
.modal-body{
    padding: 20px 20px 8px 20px;
}
.modal-footer{
    padding: 0 20px 20px 20px;
}
.form-control{
    border:solid 1px #E2E4E9;
    border-radius: 4px;
    padding: 8px 16px;
}
#modaldelete .modal-header .modal-title{
    display: block;
    width: 100%;
    text-align: center;
}
#modaldelete .modal-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modaldelete .modal-body img{
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
}
#modaldelete .modal-body p{
    color:#0A0D14;
    font-size: 16px;
    line-height: 24px;
}
.modal-footer{
    border: 0;
}
#modaldelete .modal-footer{
    border-radius: 0 0 8px 8px;
    justify-content: center;
    padding: 10px 20px 20px 20px;
}
.btn{
    background-color: #6F0000;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 33px;
}
.btn-cancel{
    color:#0A0D14;
    background-color: #fff;
    border: solid 1px #E2E4E9;
    padding: 7px 32px;
}
.modal-footer>*{
    margin: 0 5px;
}
.btn-primary:hover{
    background-color: #6F0000;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 33px;
}
.btn-secondary:hover{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color:#0A0D14;
    background-color: #fff;
    border: solid 1px #E2E4E9;
    padding: 7px 32px;
}
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper{
    margin-left: 272px;
}
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header{
    margin-left: 272px;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1584px;
    }
}
@media (min-width: 576px) {
    #modaldelete .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}
@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .main-sidebar:not(.sidebar-no-expand):hover{
        width: 272px;
    }
    .sidebar-mini.sidebar-collapse.layout-fixed .main-sidebar:hover .brand-link{
        width: 100%;
    }
}
