*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish";
    font-weight: 400;
    color: var(--body);
}
.main-sidebar .brand-text{
    font-family: "Playfair Display";
    background: linear-gradient(to top,rgba(255, 122, 0, 1),rgba(251, 255, 69, 1));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 26px;
    font-weight: 900;
    line-height: 35px;
}
.sidebar{
    padding:24px 5px;
}
.brand-link{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #350000;
}
.mt-2{
    margin: 0 !important;
}
[class*=sidebar-dark-]{
    background-color: #4B0000;
}
[class*=sidebar-dark] .brand-link {
    border-color: #963333;
    width: 100%;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #4B0000;
    box-shadow: none;
    width: 100%;
    position: relative;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active{
    background-color:#4B0000;
}
.nav-sidebar .nav-link p{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.layout-fixed .main-sidebar{
    width: 272px;
}
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper{
    margin-left: 272px;
}
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header{
    margin-left: 272px;
}
.nav-sidebar .nav-link p img{
    position: absolute ;
    right: 0;
    top:0;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1584px;
    }
}
